<footer
  class="flex w-full justify-center bg-neutral-50/10 p-4 backdrop-blur border-t border-neutral-800/10"
>
  <div class="flex w-full max-w-7xl justify-between text-xs">
    <p>
      Five™ is a registered trademark of Five.com, Inc. <script>
        document.write(new Date().getFullYear().toString());
      </script>
    </p>
    <p>
      Aviso legal: esta web no recopila datos personales ni cookies de terceros
    </p>
  </div>
</footer>
