---
import Logo from "@/assets/Logo.astro";
---

<header class="fixed left-0 top-0 z-40 flex w-full justify-center px-6">
  <nav class="w-full max-w-7xl py-6 flex items-center justify-between">
    <a
      href="/"
      class="inline-flex rounded-full border border-neutral-500/10 bg-white/80 px-6 py-4 backdrop-blur transition-all duration-300 hover:-rotate-3 hover:scale-105 hover:shadow-xl"
    >
      <span class="sr-only">Five</span>
      <Logo class="w-20" />
    </a>

    <a
      href="mailto:laia@gmail.com"
      class="rounded-full border border-neutral-500/10 bg-fiveblue-600 px-6 py-3 text-white backdrop-blur transition-all duration-300 shadow-lg hover:-rotate-3 hover:scale-105 hover:shadow-xl"
    >
      ¿Tomamos un té?
    </a>
  </nav>
</header>
