<section class="flex w-full max-w-7xl flex-col items-center">
  <h2 class="font-title max-w-2xl text-center text-3xl lg:text-5xl">
    Beneficios de delegar la gestión de redes sociales
  </h2>

  <ul class="mt-10 grid grid-cols-4 grid-rows-2 gap-4 w-full">
    <li
      class="relative bg-[url(images/crecimiento-redes.jpg)] col-span-1 row-span-2 aspect-[1/2] bg-cover bg-center flex flex-col justify-end rounded-2xl p-6 text-white overflow-clip"
    >
      <div class="absolute inset-0 bg-gradient-to-t from-black/90 to-black/10"></div>
      <p class="z-10">Más seguidores</p>
      <h2 class="z-10 font-title text-2xl">40% crecimiento</h2>
    </li>

    <li
      class="from-fivegreen-500 to-fivegreen-300 col-span-2 row-span-1 flex flex-col justify-end rounded-2xl bg-gradient-to-t p-6 text-white"
    >
      <p>Ahorro de tiempo</p>
      <h2 class="font-title text-5xl">
        5 horas
        <br />
        <span class="text-3xl">a la semana</span>
      </h2>
    </li>

    <li class="col-span-1 row-span-1 bg-black">
      <h3>Más interaccion con tu audiencia</h3>
    </li>

    <li class="col-span-1 row-span-1 bg-black">
      <h3>Más personas te conocerán</h3>
    </li>

    <li class="col-span-2 row-span-1 bg-black">
      <h3>Generas confianza y credibilidad</h3>
    </li>
  </ul>
</section>
