<section class="flex h-dvh w-full max-w-7xl shrink-0 snap-center flex-wrap">
  <article class="flex size-full flex-col items-center justify-center">
    <p>Ahorra +20h de trabajo</p>

    <h1 class="font-title text-fiveblue-600 max-w-6xl text-center text-8xl">
      Gestiona tus redes sociales sin esfuerzo y gana tiempo
    </h1>

    <p class="mt-10 max-w-3xl text-center">
      Nos encargamos de todo, desde el contenido hasta la interacción, para que
      tú puedas enfocarte en lo que realmente importa. Deja que tu marca crezca
      mientras ahorras tiempo.
    </p>

    <div class="mt-10 flex flex-wrap items-center gap-4">
      <a
        href="#contacto"
        class="bg-fivegreen-500 rounded-full px-6 py-3 text-white">¿Hablamos?</a
      >
      <a href="#mas-info" class="px-6 py-3">Más información</a>
    </div>
  </article>
</section>
