<h2
  class="sticky top-48 text-center font-title text-3xl text-fiveblue-600 lg:text-5xl"
>
  ¿Cómo lo hacemos?
</h2>

<section
  class="reveal flex h-dvh w-full max-w-7xl shrink-0 snap-center flex-col flex-wrap items-center justify-center"
>
  <div
    class="relative z-10 flex flex-col items-center gap-6 rounded-2xl p-8 text-center text-fiveblue-600"
  >
    <p class="text-8xl">
      Nos conocemos para entender tus necesidades y tu visión
    </p>
  </div>
</section>

<section
  class="reveal flex h-dvh w-full max-w-7xl shrink-0 snap-center flex-col flex-wrap items-center justify-center"
>
  <div
    class="relative z-10 flex flex-col items-center gap-6 rounded-2xl p-8 text-center text-fiveblue-600"
  >
    <p class="text-8xl">
      Desarrollamos la estrategia y creamos un plan personalizado
    </p>
  </div>
</section>

<section
  class="reveal flex h-dvh w-full max-w-7xl shrink-0 snap-center flex-col flex-wrap items-center justify-center"
>
  <div
    class="relative z-10 flex flex-col items-center gap-6 rounded-2xl p-8 text-center text-fiveblue-600"
  >
    <p class="text-8xl">
      Medimos resultados y ajustamos para asegurar que sigas creciendo
    </p>
  </div>
</section>

<section
  class="reveal flex h-dvh w-full max-w-7xl shrink-0 snap-center flex-col flex-wrap items-center justify-center"
>
  <div
    class="relative z-10 flex flex-col items-center gap-6 rounded-2xl p-8 text-center text-fiveblue-600"
  >
    <p class="text-8xl">
      Seguimos contigo para que el éxito sea continuo y sostenible
    </p>
  </div>
</section>

<script>
  import { animate, scroll } from "motion";

  function init_scroll() {
    const container = document.getElementById("scroller");
    const sections = document.querySelectorAll("section.reveal");

    if (!container || !sections) return;

    sections.forEach((section) => {
      const animation = animate(
        section,
        { opacity: [0, 1, 1, 0] },
        { ease: "linear" }
      );

      scroll(animation, {
        container,
        target: section,
        offset: ["0.4 0.6", "0.6 0.6", "0.4 0.4", "0.6 0.4"],
      });
    });
  }

  init_scroll();
</script>
