<section class="mt-48 flex w-full max-w-7xl flex-col items-center">
  <h2 class="font-title max-w-2xl text-center text-3xl lg:text-5xl">
    Paquetes adaptados a tus necesidades
  </h2>

  <p class="mt-4 max-w-4xl text-center">
    Nuestros paquetes son flexibles y se pueden combinar para potenciar
    diferentes aspectos de tu presencia en redes. Ajustamos los servicios según
    tus necesidades, para que siempre obtengas lo que más beneficia a tu marca.
  </p>

  <div class="mt-20 grid grid-cols-3 gap-8">
    <article
      class="bg-fiveblue-200 flex flex-col items-center gap-4 rounded-2xl p-8 text-center"
    >
      <h3 class="font-title text-3xl">Presencia digital</h3>
      <p class="text-lg font-medium">Tu primer paso en las redes sociales</p>
      <p>
        Creamos una estrategia que te permita establecer una base sólida en las
        redes sociales. Desde la creación de contenido visual hasta la
        configuración de tus perfiles, nos encargamos de que tu marca tenga una
        presencia digital coherente y efectiva.
      </p>
    </article>

    <article
      class="bg-fivegreen-200 flex flex-col items-center gap-4 rounded-2xl p-8 text-center"
    >
      <h3 class="font-title text-3xl">Boost Redes</h3>
      <p class="text-lg font-medium">Impulsa tus redes al siguiente nivel</p>
      <p>
        Si ya tienes una presencia establecida, este paquete está diseñado para
        aumentar la visibilidad de tu marca, generando más interacciones y
        atrayendo nuevos seguidores. Creamos campañas específicas para tu
        audiencia y optimizamos cada acción para mejorar el rendimiento de tus
        redes.
      </p>
    </article>

    <article
      class="bg-fiveblue-200 flex flex-col items-center gap-4 rounded-2xl p-8 text-center"
    >
      <h3 class="font-title text-3xl">Full Interacción</h3>
      <p class="text-lg font-medium">Actividad constante para tu marca</p>
      <p>
        Este servicio está diseñado para aquellos que buscan una presencia
        activa y de calidad en sus redes sociales. Gestionamos y generamos
        contenido de manera constante, interactuamos con tu audiencia y
        mantenemos tus redes siempre activas, lo que te permite mantener una
        relación continua con tus seguidores.
      </p>
    </article>
  </div>
</section>
