<section class="flex h-dvh max-w-7xl w-full snap-center flex-wrap shrink-0">
  <aside class="flex h-full w-1/2 items-end p-20 px-4">
    <figure
      class:list={[
        "relative aspect-[2/3] h-full",
        "before:absolute before:-left-36 before:-top-6 before:size-full before:scale-75",
        "before:rounded-full before:bg-fivegreen-500 before:shadow-inner before:shadow-black/20",
      ]}
    >
      <img
        src="/images/somos-five.jpg"
        alt="Somos Five"
        class="size-full rotate-3 rounded-full border border-neutral-500/10 object-cover shadow-2xl shadow-black/50"
      />
    </figure>
  </aside>

  <article class="flex h-full w-1/2 flex-col justify-center p-4 gap-8">
    <h2
      class="max-w-xs font-title text-3xl text-fiveblue-600 lg:max-w-2xl lg:text-5xl"
    >
      Somos Five
    </h2>

    <p class="max-w-xs text-2xl leading-relaxed lg:max-w-2xl text-fiveblue-600">
      En Five entendemos que el tiempo es uno de tus recursos más valiosos. Por
      eso, nos encargamos de toda la parte digital de tu marca: redes sociales,
      diseño, fotografía, video, desarrollo web, automatización e inteligencia
      artificial. Tú sigues enfocándote en lo que mejor sabes hacer, y nosotras
      nos aseguramos de que tu presencia online esté siempre actualizada y
      alineada con las últimas tendencias.
    </p>
  </article>
</section>
