<section class="flex h-dvh w-full max-w-7xl snap-center flex-wrap shrink-0">
  <article class="flex h-full w-1/2 flex-col justify-center">
    <h1
      class="max-w-xs font-title text-4xl text-fiveblue-600 lg:max-w-2xl lg:text-7xl"
    >
      Has llegado al lugar indicado si quieres tener más tiempo para tí
    </h1>
  </article>

  <aside
    class="flex h-1/2 w-full items-end justify-end p-20 px-4 lg:h-full lg:w-1/2"
  >
    <figure
      class:list={[
        "relative aspect-[2/3] h-full",
        "before:absolute before:-right-36 before:-top-6 before:size-full before:scale-75",
        "before:rounded-full before:bg-fivegreen-500 before:shadow-inner before:shadow-black/20",
      ]}
    >
      <img
        src="/images/five-hero.jpg"
        alt="Five Hero"
        class="size-full -rotate-3 rounded-full border border-neutral-500/10 object-cover shadow-2xl shadow-black/50"
      />
    </figure>
  </aside>
</section>
