---
import Logo from "@/assets/Logo.astro";
---

<section class="flex flex-wrap h-dvh">
  <article
    class="flex h-1/2 lg:h-full w-full lg:w-1/2 flex-col items-center justify-center gap-16 lg:gap-32 p-4"
  >
    <h1 class="max-w-xs lg:max-w-2xl font-title text-4xl lg:text-6xl xl:text-8xl text-fiveblue-600">
      Has llegado al lugar indicado si quieres tener más tiempo para tí
    </h1>

    <Logo class="w-24 lg:w-36" />
  </article>

  <aside
    class="flex h-1/2 lg:h-full w-full lg:w-1/2 items-end justify-center bg-fivegreen-500 pt-20 px-4"
  >
    <img
      src="/images/five-welcome.webp"
      alt="Five Welcome"
      class="h-full object-contain"
    />
  </aside>
</section>
